@media print {
  body * {
    visibility: hidden;
  }
  .card, .card * {
    visibility: visible;
  }
  .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  /* Hide buttons during print */
  .btn {
    display: none !important;
  }
}
